:root {
    --g-color: #1e73be;
    --g-color-90: #1e73bee6;
    --dark-accent: #00080a;
    --dark-accent-90: #00080ae6;
    --dark-accent-0: #00080a00;
    --review-color: #e5b20b;
    --indicator-bg-from: #f2af85;
    --indicator-bg-to: #dd6311;
    --alert-bg: #ceb198;
    --alert-color: #000000;
}

:root {
    --body-fsize: 20px;
    --effect: all .25s cubic-bezier(0.32, 0.74, 0.57, 1);
    --timing: cubic-bezier(0.32, 0.74, 0.57, 1);
    --shadow-12: #0000001f;
    --shadow-20: #00000005;
    --round-3: 3px;
    --height-34: 34px;
    --height-40: 40px;
    --padding-40: 0 40px;
    --round-5: 5px;
    --round-7: 7px;
    --shadow-7: #00000012;
    --dark-accent: #191c20;
    --dark-accent-0: #191c2000;
    --dark-accent-90: #191c20f2;
    --meta-b-family: var(--meta-family);
    --meta-b-fcolor: #282828;
    --meta-b-fspace: normal;
    --meta-b-fstyle: normal;
    --meta-b-fweight: 600;
    --meta-b-transform: none;
    --indicator-bg-from: #ff0084;
    --indicator-bg-to: #2c2cf8;
    --bottom-border-color: var(--flex-gray-20);
    --column-border-color: var(--flex-gray-20);
    --audio-color: #ffa052;
    --dribbble-color: #fb70a6;
    --excerpt-color: #666;
    --fb-color: #89abfc;
    --g-color: #ff184e;
    --gallery-color: #729dff;
    --heading-color: var(--body-fcolor);
    --ig-color: #7e40b6;
    --linkedin-color: #007bb6;
    --nav-color: #282828;
    --pin-color: #f74c53;
    --privacy-color: #fff;
    --review-color: #ffc300;
    --soundcloud-color: #fd794a;
    --subnav-color: #282828;
    --telegam-color: #649fdf;
    --twitter-color: #60d2f5;
    --video-color: #ffc300;
    --vimeo-color: #44bbe1;
    --ytube-color: #ef464b;
    --nav-bg-from: #dec9bb;
    --nav-bg: #dec9bb;
    --nav-bg-to: #dec9bb;
    --nav-color-h: #1e73be;
    --nav-color-h-accent: #f1ded2;
    --nav-height: 50px;
    --title-size: 15px;
    --subnav-color-10: #2828281a;
    --subnav-color-h: #333333;
    --subnav-bg: #f1ded2;
    --subnav-bg-from: #f1ded2;
    --subnav-bg-to: #dec9bb;
    --feat-ratio: 55;
    --feat-position: center top;
    --meta-fsize: 13px;
    --h1-fsize: 32px;
}

:root {
    --g-color: #1e73be;
    --g-color-90: #1e73bee6;
    --dark-accent: #00080a;
    --dark-accent-90: #00080ae6;
    --dark-accent-0: #00080a00;
    --review-color: #e5b20b;
    --indicator-bg-from: #f2af85;
    --indicator-bg-to: #dd6311;
    --alert-bg: #ceb198;
    --alert-color: #000000;
    --nav-color-h-accent: #f1ded2;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, blockquote, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

.is-hd-5, body.is-hd-5:not(.sticky-on) {
    --subnav-bg: #f1ded2;
    --subnav-bg-from: #f1ded2;
    --subnav-bg-to: #dec9bb;
    --subnav-color: #282828;
    --subnav-color-10: #2828281a;
    --subnav-color-h: #333333;
    --hd5-logo-height: 80px;
}

::-moz-selection {
    background: #ffcc00 !important;
    color: #000 !important;
}
::selection {
    background: #ffcc00 !important;
    color: #000 !important;
}


html {
    font-size: var(--body-fsize);
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: "Bitter", serif;
    background: #f1ded2;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

* {
    font-family: "Bitter", serif !important;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-object-fit: cover;
    object-fit: cover;
}

.rbi, [class^=rbi-], [class=rbi-] {
    font-family: 'ruby-icon' !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.header {
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.container {
    width: 1240px;
    margin: auto;
}

.large-menu .sub-menu, .header-dropdown {
    position: absolute;
    z-index: 9999;
    top: -9999px;
    right: auto;
    left: 0;
    display: block;
    visibility: hidden;
    min-width: 210px;
    margin-top: 20px;
    list-style: none;
    -webkit-transition: top 0s, opacity .25s var(--timing), margin .25s var(--timing);
    transition: top 0s, opacity .25s var(--timing), margin .25s var(--timing);
    pointer-events: none;
    opacity: 0;
    border-radius: var(--round-7);
}

.logo-sec-center a {
    display: inline-block;
    height: 80px;
}

.logo-sec-center img {
    height: 80px;
}

.header-dropdown {
    right: 0;
    left: auto;
    overflow: hidden;
    min-width: 200px;
    background: var(--subnav-bg);
    background: -webkit-linear-gradient(left, var(--subnav-bg-from) 0%, var(--subnav-bg-to) 100%);
    background: linear-gradient(to right, var(--subnav-bg-from) 0%, var(--subnav-bg-to) 100%);
    box-shadow: 0 4px 30px var(--shadow-12);
}

.wnav-holder svg, .wnav-svg {
    line-height: 0;
    width: 20px;
    height: 20px;
}

.wnav-holder-mobile {
    padding: 0 5px;
}

input[type='submit'], .entry-content button, .is-btn, .button {
    line-height: var(--height-40);
    padding: var(--padding-40);
    cursor: pointer;
    -webkit-transition: var(--effect);
    transition: var(--effect);
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: var(--round-3);
    outline: none !important;
    background: #1E73BEFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-5 .logo-wrap:not(.mobile-logo-wrap) img {
    max-height: 80px;
}

.navbar-wrap {
    position: relative;
    z-index: 999;
    display: block;
    background: linear-gradient(to right, var(--nav-bg-from) 0%, var(--nav-bg-to) 100%);
    scrollbar-width: none;
}

.navbar-wrap:not(.navbar-transparent), .sticky-on .navbar-wrap {
    background: var(--nav-bg);
    background: -webkit-linear-gradient(left, var(--nav-bg-from) 0%, var(--nav-bg-to) 100%);
}

.navbar-wrap .container {
    display: flex;
    justify-content: center;
}

.header-5 .logo-sec-left, .header-5 .logo-sec-center, .header-5 .logo-sec-right {
    position: relative;
    display: flex
;
    flex: 0 0 33.33%;
    margin: 0;
}

.login-toggle {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    flex-shrink: 0;
    vertical-align: middle;
    text-decoration: none !important;
}
.login-toggle.is-btn {
    line-height: 30px;
    margin-right: 0;
    padding-right: var(--login-btn-padding, 20px);
    padding-left: var( --login-btn-padding, 20px);
}
.logo-sec-left>*:not(:last-child):before {
    position: absolute;
    top: .4em;
    right: 0;
    bottom: .4em;
    display: block;
    content: '';
    border-right: 1px solid var(--nav-color-10);
}
.widget-h-login.header-dropdown-outer {
    display: inline-block;
}

.login-toggle span {
    font-size: .8rem;
}
.logo-wrap img {
    max-height: inherit;
}
.logo-sec-right {
    width: 144px;
}

.main-menu-wrap {
    justify-content: center;
}

.header .navbar-wrap:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    pointer-events: none;
    border-bottom: 1px solid var(--flex-gray-15);
}

.header .navbar-wrap:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    pointer-events: none;
    border-bottom: 1px solid var(--flex-gray-15);
}
.main-menu>.menu-item.current-menu-item>a:before, .main-menu>.menu-item>a:hover:before {
    background: var(--nav-color-h-accent, var(--flex-gray-15));
}
.bio-title {
    text-decoration: none!important;
    line-height: 1
}

.blue-color {
    color: #1e73be !important;
}

.overlay-text .p-list-inline .blue-color:hover i {
    color: #1e73be !important;
    background-color: #1e73be !important;
}

.dovizbilgileri {
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
}

.dovizbilgileri .veri-box {
    display: flex;
    align-items: center;
    justify-content: start;
}

.dovizbilgileri .veri-box .ikon {
    margin-right: .5rem;
}

.dovizbilgileri .veri-box .ikon img {
    width: 28px;
}

.dovizbilgileri .d-block {
    display: block;
}

.dovizbilgileri .fw-bold {
    font-weight: bold;
}

.dovizbilgileri .fw-light {
    font-weight: 200;
}

.dovizbilgileri .me-2 {
    margin-right: 5px;
}

.dovizbilgileri .text-danger {
    color: #c60f0f
}

.dovizbilgileri .text-green {
    color: #379596
}

.dovizbilgileri .text-normal {
    color: #73655f
}
.dovizbilgileri .veri-box {
    font-size: 14px!important;
}

.last-news {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #dec9bb;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 5px;
    background-color: #00000007;
}

.last-news .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.block-breaking-news {
    width: 60%;
}
.block-qlinks-inner {
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

body:not([data-theme="dark"]) .breaking-news-heading {
    background-color: #dec9bb ! important;
}
.p-url {
    -webkit-transition: background-size .25s var(--timing);
    transition: background-size .25s var(--timing);
    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: bottom left;
    -webkit-background-size: 0% 1px;
    background-size: 0% 1px;
}
.p-url:hover {
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
}
.qlink a {
    line-height: 1;
    padding: 4px 7px;
    color: var(--qlink-color, inherit);
    border-radius: var(--round-3);
    background-color: var(--qlink-bg, var(--flex-gray-7));
}
#back-top:hover i, .swpm-logged-logout-link a:hover, a.show-post-comment:hover, a.page404-btn:hover, .wp-block-search [type=submit]:hover, .wp-block-search [type=submit]:active, a.page-numbers:hover, .page-links a.post-page-numbers:hover, .pagination-nextprev a:hover, .pagination-wrap:not(.pagination-nextprev):not(.page-links) a:hover span, .pagination-simple a:hover, .meta-like>span:hover, .p-readmore:hover, .tagcloud a:hover, .wp-block-tagcloud a:hover, .qlink a:hover, input[type=submit]:hover, .entry-content button:hover, .is-btn:hover, .yt-trigger:hover, a.comment-reply-link:hover {
    -webkit-transform: var(--btn-animation);
    transform: var(--btn-animation);
    color: var(--awhite);
    background-color: var(--g-color);
    box-shadow: var(--btn-shadow, 0 3px 12px var(--g-color-90));
}
.elementor-tab-desktop-title.elementor-active {
    border-bottom: 3px solid #427fc2 !important;
    border-radius: 0 !important;
}
.entry-title a {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}
.elementor-column>.elementor-element-populated {
    padding: 15px;
}

.bstabmenu .elementor-tab-content {
    padding: 0 !important;
    border: 0;
}
.elementor-section {
    margin: 0 -15px;
}
.elementor-tab-title {
    font-size: 23px;
    line-height: 18px;
}
.elementor-tabs-wrapper {
    border-bottom: 1px solid rgba(136, 136, 136, 02);
    padding-bottom: 0px;
}
.elementor-tab-desktop-title {
    border: 0 !important;
    padding-bottom: 5px !important;
}
.bstabmenu .elementor-tabs-content-wrapper {
    margin-top: 15px;
}

.bottom-border .block-inner>* {
    padding-bottom: 10px;
}

.block-inner {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    row-gap: 10px;
}

h4 a, .h4 a {
    font-family: var(--h4-family);
    font-size: var(--h4-fsize);
    font-weight: 600 !important;
    font-style: var(--h4-fstyle);
    line-height: var(--h4-fheight, 1.45);
    letter-spacing: var(--h4-fspace);
    text-transform: var(--h4-transform);
}

h3 a, .h3 a {
    font-family: var(--h3-family);
    font-size: 20px !important;
    font-weight: 600 !important;
    font-style: var(--h3-fstyle);
    line-height: var(--h3-fheight, 1.3);
    letter-spacing: var(--h3-fspace);
    text-transform: var(--h3-transform);
}

.is-gap-30 .block-inner {
    margin-right: -20px;
    margin-left: -20px;
    --column-gap: 20px;
    row-gap: 30px;
}
.p-featured.ratio-v1 {
    padding-bottom: calc(90* 1%);
}
.box-bg .grid-box, .box-bg .list-box {
    background-color: #dec9bb;
}

h2 a, .h2 a {
    font-family: var(--h2-family);
    font-size: 40px;
    font-weight: 800 !important;
    font-style: var(--h2-fstyle);
    line-height: 1.25 !important;
    letter-spacing: var(--h2-fspace);
    text-transform: var(--h2-transform);
}

h2 {
    font-size: 22px;
    font-weight: 800;
}

.meta-avatar img.wh-75 {
    width: 75px !important;
    height: 75px !important;
}
.meta-inner {
    display: flex
;
    align-items: center;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: .2em .6em;
}
.is-meta, .meta-text, .user-form label, .rss-date, .widget_rss cite, .woocommerce-result-count, .woocommerce-ordering select {
    font-family: var(--meta-family);
    font-size: var(--meta-fsize);
    font-weight: var(--meta-fweight);
    font-style: var(--meta-fstyle);
    letter-spacing: var(--meta-fspace);
    text-transform: var(--meta-transform);
}
.is-meta .meta-author a {
    line-height: 1.20;
}

body.home .is-meta .meta-author a {
    line-height: 1.20
}

.yazar-adi,.kose-adi {
    display: block;
}

.yazar-adi {
    font-size: 18px
}

body.single-kose_yazilari_pt img.avtr {
    width: 58px;
    height: 58px
}

body.single-kose_yazilari_pt .single-meta .meta-author a {
    text-decoration: none
}

body.single-kose_yazilari_pt .yazar-adi {
    font-size: 18px;
    font-weight: 700
}

body.single-kose_yazilari_pt .kose-adi {
    font-size: 15px;
    line-height: 1;
    color: #1e73be
}
body .elementor-shape .elementor-shape-fill {
    fill: #dec9bb;
}
.p-meta {
     margin-bottom: 15px !important;
 }
.swiper-container {
    width: 100%;
}
.authors-title {
    margin-bottom: 10px;
}
.swiper-pagination-bullet {
    margin: 0 !important;
}
.swiper-pagination-bullets {
    width: auto !important;
}
.authors {
    margin-top: 20px;
    margin-bottom: 20px;
}
.economy-news {
    display: flex;
    width: 100%;
    margin: 0;
}

.book-news {
    display: flex;
    width: 100%;
}
.book-news .col-50 {
    width: 50%;
}
.book-news .col-25 {
    width: 25%;
}
.book-news .vertical-feature .p-featured {
    padding-bottom: calc(155* 1%);
}

.book-news .book-horizontal .p-featured {
    padding-bottom: calc(42* 1%);
}

.book-news .p-featured {
    padding-bottom: calc(72* 1%);
}
.book-inner {
    row-gap: 30px;
}

h2.entry-title a {
    font-size: 22px;
}

.p-wrap .entry-summary {
    font-size: 18px;
}
.more-news {
    width: 100%;
    max-width: 100%;
}
.info-row-block {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    margin-top: 30px;
}
.elementor-divider-separator {
    width: 100%;
    border-block-start: 1px solid #000 !important;
    margin-bottom: 20px !important;
}
.footer-left-list {
    font-size: 16px;
}
.footer-left-list li {
    margin-bottom: 10px;
}
.footer-menu-list li a span {
    font-size: 16px !important;
}
.footer-has-bg {
    background-color: #0000000a;
}
.banner-title {
    font-size: 40px !important;
}
.title-22 {
    font-size: 22px;
}
.mobile-menu-trigger {
    display: none;
}
.ml-5 {
    margin-left: 5px;
}
.main-menu {
    display: flex;
}
.no-scroll {
    overflow: hidden;
}

.sticky-on {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    z-index: 99;
}

.bio-title a {
    text-decoration: none !important;
    line-height: 1;
    font-size: 20px !important;
}
h3.yazar-yazi-adi {
    border-top: 1px solid;
    padding-top: 15px;
}
.mt-0 {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}
h3.yazar-yazi-adi a {
    font-weight: normal !important;
}
#uid_author_0 .block-inner {
    row-gap: 35px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: initial;
}
.archive-title {
    font-weight: 800;
}
.subcat-wrap {
    margin-top: 20px;
}
.comment-holder {
    display: none;
}
.counter-el:before {
    display: none;
}
.counter-el span {
    font-family: var(--h2-family);
    font-size: var(--counter-size, 3.5rem);
    font-weight: var(--h2-fweight);
    font-style: var(--h2-fstyle);
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    display: block;
    min-width: 1.05em;
    letter-spacing: var(--h2-fspace);
    pointer-events: none;
    opacity: var(--counter-opacity, .15);
    color: var(--counter-color, currentColor);
}
.interest-separator {
    width: 20% !important;
    background-color: #2c39b3 !important;
}
.interest-box-header {
    text-align: center;
    width: 49%;
    line-height: 2;
}
.large-title {
    font-size: 40px;
    font-weight: 800;
}

.h5.sub-cat-item a {
    margin: 0 8px 8px 0;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 400;
    font-size: 13px;
    background: #dec9bb;
    border-radius: 5px;
}
.h5.sub-cat-item a:after {
    display: none;
}
.subcat-heading {
    display: none;
}
.mt-20 {
    margin-top: 20px;
}
.elementor-divider-interest {
    justify-content: center;
}

.single-kose_yazilari_pt img.avtr {
    width: 58px !important;
    height: 58px !important;
}

.single-kose_yazilari_pt .single-meta .meta-author a {
    text-decoration: none
}

.single-kose_yazilari_pt .yazar-adi {
    font-size: 18px;
    font-weight: 700
}

.single-kose_yazilari_pt .kose-adi {
    font-size: 15px;
    line-height: 1;
    color: #1e73be
}
.rank-math-breadcrumb {
    margin-bottom: 15px
}

.rank-math-breadcrumb p {
    font-size: 15px
}
.breadcrumb-inner, .woocommerce-breadcrumb {
    font-family: Bitter;
}
.header-left-links {
    display: flex;
    align-items: center;
    font-size: .8rem;
}
.social-follower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.follower-el {
    width: 23%;
}
.follower-inner {
    font-size: 14px;
}
.header-left-links a:first-child {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #ceb198;
}
.p-readmore {
    font-family: Bitter;
}

.mobile-menu > li > a {
    font-family: Bitter;
    font-size: 16px;
}

.mobile-menu .sub-menu a {
    font-family: Bitter;
    font-size: 16px;
}

.mobile-qview a {
    font-family: Bitter;
    font-size: 16px;
}
a.show-post-comment {
    height: 40px;
    font-size: 12px !important;
}

a.comment-reply-link {
    font-size: 12px !important;
}

.s-title {
    font-weight: 800;
}
.s-tagline {
    font-size: 22px;
}
.p-category {
    font-weight: 400;
}
.advertise-leaderboard {
    margin: auto;
    width: 970px;
    height: 90px;
    background: #ccc;
}
.advertise-left-tower {
    position: fixed;
    top: 320px;
    margin-left: -180px;
    width: 160px;
    height: 600px;
    z-index: 10;
    background: #ccc;
}
.advertise-right-tower {
    position: fixed;
    top: 320px;
    margin-left: 1260px;
    width: 160px;
    height: 600px;
    z-index: 10;
    background: #ccc;
}
.my-personalized .svg-loading {
    line-height: 0;
    width: 2.5rem;
}
.share-action span {
    font-size: 12px;
}
.effect-fadeout.activated a {
    opacity: .25
}
.rbct p {
    line-height: 1.5;
}
.effect-fadeout.activated a:hover,.effect-fadeout.activated a:focus {
    opacity: 1
}
.news-detail .sticky-on .main-menu-wrap, .news-detail .sticky-on .more-section-outer {
    display: none;
}
.news-detail .sticky-on .s-title-sticky {
    display: flex;
}
.sehir_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1260px) {
    .container {
        width: 94%;
    }
    .mobile-menu-trigger {
        display: block;
    }
    .wnav-holder {
        display: none !important;
    }
    .shorten-links {
        display: none;
    }

    .navbar-wrap .container {
        width: 100%;
        overflow: auto;
    }

    .collapse-activated .more-section {
        visibility: visible;
        margin-top: 0;
        -webkit-transition: top 0s ease 0s, opacity .25s var(--timing), margin .25s var(--timing) 0s;
        transition: top 0s ease 0s, opacity .25s var(--timing), margin .25s var(--timing) 0s;
        opacity: 1;
        z-index: 999999;
        position: fixed;
        top: 113px !important;
        left: 0 !important;
        right: 0;
        width: 100%;
        bottom: 0;
        height: 100vh;
        background: #f1ded2;
    }

    header {
        background: linear-gradient(to right, var(--mbnav-bg-from, var(--nav-bg-from)) 0%, var(--mbnav-bg-to, var(--nav-bg-to)) 100%);
        box-shadow: 0 4px 30px var(--shadow-7);
    }

    .header-content {
        height: 65px;
    }
    .header-5 .logo-wrap:not(.mobile-logo-wrap) img {
        height: 50px;
    }
    .logo-sec-center a {
        height: 50px;
    }
    .more-trigger {
        display: none;
    }
    .advertise {
        display: none;
    }
    .navbar-wrap .container {
        display: inline-table !important;
    }
}

@media (max-width: 1024px) {
    #dovizalani .container {
        width: 100% !important;
    }
    .dovizbilgileri {
        position: relative !important;
        overflow: auto;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        flex-wrap: nowrap !important;
    }
    .economy-news {
        width: 100%;
        flex-direction: column;
    }
    .economy-news .elementor-column.elementor-col-66 {
        width: 100%;
    }
    .is-sidebar {
        width: 100% !important;
        max-width: 100%;
    }
    .book-news .col-50 {
        width: 100%;
        margin-bottom: 30px;
    }
    .book-news .col-25 {
        width: 50%;
        margin-bottom: 30px;
    }
    .main-menu>.current-menu-item>a:before {
        position: absolute;
        top: inherit;
        right: 15px;
        bottom: 0;
        left: 15px;
        height: 4px;
        content: "";
        background-color: #1e73be !important;
        transition: var(--effect);
        border-radius: var(--round-3);
    }
    .block-breaking-news {
        width: 100%;
    }
    .breaking-news-title.entry-title a {
        font-size: 14px;
        font-weight: 500;
    }
    .navbar-wrap {
        overflow: auto;
    }
}

@media (max-width: 765px) {
    .book-news .elementor-section {
        margin: 0;
    }
    .book-news .elementor-inner-column {
        padding: 0;
    }
    .book-news .col-25 {
        width: 100%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-element-2a1e952d {
        width: 100% !important;
    }
    .elementor-element.elementor-element-5a09f13b {
        width: 50%;
    }
    .elementor-column.elementor-col-25 {
        width: 50%;
    }
}
